---
import Layout from "../layouts/Layout.astro";
import { ActivateAccountView } from "../views/activate-account/ActivateAccountView";

const token = Astro.url.searchParams.get("token") || "";
const email = Astro.url.searchParams.get("email") || "";

if (!token || !email) {
	return Astro.redirect("/");
}
---

<Layout>
	<main class="w-full h-screen flex justify-center items-center">
		<div class="container responsive-padding flex flex-col gap-8 max-w-96">
			<div>
				<h1 class="text-5xl">Wpisz hasło <br /> i aktywuj konto</h1>
			</div>
			<ActivateAccountView client:load />
		</div>
	</main>
</Layout>
