---
import "../styles/globals.css";
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="apple-itunes-app" content="app-id=6738386191" />
		<title>FitApka</title>
	</head>
	<body>
		<div class="min-h-screen">
			<div class="min-h-screen h-full"><slot /></div>
		</div>
	</body>
</html>
